.container {
  width: 100%;
}

.searchWrapper {
  position: relative;
  max-width: 500px;
  width: 100%;

  border: 1.5px solid rgba(255, 255, 255, 0.4);
  border-radius: 8px;
  background-color: #1f1f1f;
  overflow: hidden;
}

.searchInput {
  width: 100%;
  padding: 10px 48px 10px 40px;
  background-color: #1f1f1f;

  border: none;
  outline: none;
  color: #fff;
  font-size: 14px;
}

.searchIcon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  stroke: #888;
}
