/* app/globals.css */
@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

:root {
    --offwhite: #fafafa;
    --z-toast: 2147483647;
    --z-drawer: 1000;
    --z-backdrop: 900;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Silkscreen', sans-serif;
    background-color: #2d2d2d;
    font-family: 'Press Start 2P',
        'Share Tech Mono',
        sans-serif
}


/* react-toastify 컨테이너 최상단 보장 */
.Toastify__toast-container {
    z-index: var(--z-toast) !important;
    position: fixed;
    /* 혹시나 해서 명시 */
}

/* Drawer 계층 정리 */
.backdropOpen,
.backdropClosed {
    z-index: var(--z-backdrop);
}

.panelOpen,
.panelClosed {
    z-index: var(--z-drawer);
}