.headerContainer {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 1280px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
  background-color: #292929;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.logo {
  padding: 0rem 1rem;
  text-align: center;
  /* -webkit-text-stroke-width: 2px; */
  -webkit-text-stroke-color: #000;
  font-family: "Press Start 2P";
  font-size: xx-large;
  color: #008eaa;
  text-shadow: -0.35rem 0 0 black, 0.35rem 0 0 black, 0 -0.35rem 0 black,
    0 0.35rem 0 black, -0.35rem -0.35rem 0 black, 0.35rem -0.35rem 0 black,
    -0.35rem 0.35rem 0 black, 0.35rem 0.35rem 0 black;
  text-decoration: none;
}

.navList {
  display: flex;
  flex: 1;
  justify-content: center;
  gap: clamp(0.5rem, 2vw, 3rem);
}

.navItem {
  color: var(--offwhite);
  text-decoration: none;
  transition: color 0.2s;
  font-family: "Press Start 2P", system-ui;
  font-size: small;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0.5rem;
}

.navItem:hover {
  color: #00bfe6;
}

._navItem {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  color: #ccc;
  background: none;
  border: none;
  transition: color 0.2s;
  align-items: center;
  justify-self: center;
  width: 100%;
  padding: 0.25rem 1rem;
  cursor: pointer;
  transition: color 0.2s;
  font-family: "Share Tech Mono", monospace;
}

._navItem:hover {
  color: #fff;
}

.actions {
  width: max-content;
  display: flex;
  gap: 0.5rem;
  margin-right: 0;
  align-items: center;
  justify-content: center;
}

.textButton {
  padding: 0.25rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  color: #ccc;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.2s;
  font-family: "Share Tech Mono", monospace;
}

.textButton:hover {
  color: #fff;
}
