.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 24rem;
  padding: 2rem;
}

.title {
  font-family: 'Silkscreen';
  font-size: 2rem;
  color: var(--offwhite);
  text-align: center;
  text-shadow:
    -0.2rem 0 0 black,
    0.2rem 0 0 black,
    0 -0.2rem 0 black,
    0 0.2rem 0 black,

    -0.2rem -0.2rem 0 black,
    0.2rem -0.2rem 0 black,
    -0.2rem 0.2rem 0 black,
    0.2rem 0.2rem 0 black;
  margin: 1rem 0rem;
}

.input {
  padding: 0.5rem;
  border: 1px solid #4d4d4d;
  border-radius: 0.25rem;
  background: transparent;
  color: var(--offwhite);
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}