.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.headerWrapper {
    position: sticky;
    top: 0;
    z-index: 2;
}

.mainWrapper {
    flex: 1;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    container-type: inline-size;
    margin: 0px 280px;
    box-sizing: border-box;
}

.mainWrapper::-webkit-scrollbar {
    display: none;
}