.footerContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 1280px;
  width: 100%;
  padding: 1rem;
  background-color: #2d2d2d;
  color: #ccc;
  font-family: "Share Tech Mono";
  z-index: 1000;
}

.copy {
  font-size: 0.875rem;
}

.linkList {
  display: flex;
  gap: 1rem;
}

.link {
  color: #ccc;
  text-decoration: none;
  font-size: 0.875rem;
  transition: color 0.2s;
}

.link:hover {
  color: #fff;
}
