.profileForm {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 5rem;
}

.title {
    font-family: 'Silkscreen';
    font-size: 1.5rem;
    margin-bottom: 4rem;
    text-shadow:
        -3px -3px 0 black,
        0 -3px 0 black,
        3px -3px 0 black,
        -3px 0 0 black,
        3px 0 0 black,
        -3px 3px 0 black,
        0 3px 0 black,
        3px 3px 0 black;
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto 1rem;
}

.profile {
    width: 6rem;
    height: 6rem;
    border-radius: 100%;
    object-fit: cover;
    display: flex;
    align-items: center;
    background-color: #464646;
    justify-content: center;
    margin: 0 auto 1rem;
}

.infoLabel {
    margin-top: 1.5rem;
}

.accountNav {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.navButton {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    font-family: 'Share Tech Mono';
    color: #ccc;
    padding: 0;
    margin-top: auto;
    font-size: medium;
}

.navButton:hover {
    color: var(--offwhite);
}

.navIcon {
    margin-left: 0.5rem;
}