.button {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  border: none;
}

.addButton {
  background: #008eaa;
  padding: 10px 16px;
  border-radius: 8px;
  color: #fff;
}
